<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- spring.xml -->
	<!-- 스프링 빈 생성 -->
	
	<!-- <bean id="객체명" class="패키지명.클래스명"> -->
	<!--
	<bean id="msgKo" class="kr.co.basicspring.di1.MessageKo"></bean>
	<bean id="msgEn" class="kr.co.basicspring.di1.MessageEn"></bean>
 	-->
 	
	<!--  	
	<bean id="msgKo" class="kr.co.basicspring.di3.MessageKo3"></bean>
	<bean id="msgEn" class="kr.co.basicspring.di3.MessageEn3"></bean> 
	-->
	
	<bean id="msgKo" class="kr.co.basicspring.di4.MessageKo4"></bean>
	<bean id="msgEn" class="kr.co.basicspring.di4.MessageEn4"></bean>
	
</beans>


